.mainContent {
    width: 100%;
    height: calc(100% - 32px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: clamp(20px, .25vw + 1rem, 100px);
    font-weight: lighter;
    font-family: MainFont;
}

.title {
    font-size: var(--title-font-size);
}

.paragraph {
    padding: 0 20%;
    font-size: var(--body-font-size);
    font-family: var(--body-text-font);
}

.bottomContent {
    padding: 16px 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    font-family: MainFont;
}

.learnMore {
    position: relative;
}

.learnMore::after {
    content: attr(data-text);
    color: var(--font-color);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0;
    transition: .5s;
}

.learnMore:hover {
    color: #bfbfbf;
}

.learnMore:hover::after {
    width: 100%;
    overflow: hidden;
}

.moreInfo {
    padding: 0;
}